<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{ with .Site.LanguageCode }} xml:lang="{{ . }}" lang="{{ . }}"{{ end }}>

    {{ partial "head.html" . }}

    <body lang="en">

        <!-- Top color border of the page -->
        <div class="border" id="home"></div>

        <div class="wrapper">   <!--Used by responsive-nav-orig.js -->
            {{ partial "navbar.html" . }}
            <div class="container">
                <header class="masthead">
                    <div class="masthead-title">
                        <a href="/">{{ .Site.Title }}</a> <span class="blinking-cursor">❚</span>
                    </div>
                    <div class="masthead-tagline">
                        {{ .Site.Params.tagline }}
                    </div>
                </header>

                {{ block "main" . }}{{ end }}

                <footer>
                    {{ block "footer" . }}{{ end }}
                    {{ partial "feed.html" . }}
                </footer>
            </div>               <!-- Closing <div class="container"> -->

            <footer> <!-- Footer outside the .container, not bound by max-width -->
                {{ partial "footer.html" . }}
            </footer>
        </div> <!-- - Closing <div class="wrapper"> -->
    </body>
</html>
