<article class="summary h-entry">
    <header>
        <h2 class="post-title p-name"><a class="u-url" href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
        {{ partial "taxo-buttons.html" . }}
        {{ partial "date-maybe.html" (dict "page" . "fmt" (.Param "dateform")) }}
    </header>

    <div class="post p-summary" >
        {{ partial "summary_minus_toc.html" . }}
    </div>

    <!-- https://gohugo.io/content/summaries/ -->
    <!-- Show the 'Read more' link only if the 'more' comment is used, or if the 'description' is set. -->
    {{ if (or .Truncated .Description) }}
        <div class="readmore">
            <a href='{{ .Permalink }}'
               title="{{ printf "Read more about %s" .Title }}">
                read <span class="more"> more</span>
                <span class="screen-readers-only" > about {{ .Title }}</span>
            </a>
        </div>
    {{ end }}
</article>
