{{ define "main" }}             <!-- List of all posts -->

<!-- http://microformats.org/wiki/h-feed -->
<section class="h-feed">
    <header>
        {{ partialCached "all-terms.html" . }}

        <!-- To complete the h-feed meta-data -->
        <data class="u-url" value="{{ .Permalink }}"></data>
        {{ partial "author.html" . }}

        <!-- If the page is /tags/foo/, .Data.Plural = "tags", .Data.Term = "foo"
             "%T" in the string retrieved from phrase map will be replaced with .Data.Term
             "%N" in the string retrieved from phrase map will be replaced with .Name
        -->
        {{ $term := .Data.Term }}
        {{ $phrase := (index .Site.Data.taxonomy.phrases .Data.Plural) | replaceRE "%T" (printf "‘%s’" $term) | replaceRE "%N" (printf "‘%s’" .Name) }}
        {{ $term_count := (len .Pages) }}
        <h1 class="p-name">{{ printf "Posts %s (%d)" $phrase $term_count }}</h1>
    </header>

    {{ range .Pages }}
        <!-- If the current page's $term is "foo", it replaces «li class="__foo__"»
             with «li class="active"».
             The "__<taxo>__" are special classes added to the taxo buttons in the
             taxo-buttons.html partial.
        -->
        {{ .Render "summary" | replaceRE (printf `(li class=")__%s__"` $term) `${1}active"` | safeHTML }}
    {{ end }}

    {{ partialCached "all-terms.html" . }}
</section>

{{ end }}
