/* Overrides on top of the theme and Chroma CSS */
/* Chroma-based lines highlighting in code blocks */
.chroma .hl {
    background-color: rgba(172, 65, 66, 0.2); /* Same as the --theme-color #ac4142, but in decimal, with 20% opacity */
    /* Extend highlight up to 100 characters (assuming that the code blocks never have more than 100 characters in a line) */
    min-width: 100ch;
}
