<ul class="social">
    {{ range .Param "social" }}
        <li>
            <a href="{{ .link }}" title="{{ .name }}">
                <!-- Example value of Params.social with "svg" key in site config.toml:
                     [[Params.social]]
                     name = "Mastodon"
                     link = "https://mastodon.technology/@kaushalmodi"
                     svg = "mastodon"      # map key in .Site.Data.svg, other value: mastodon-alt
                -->
                {{ with .svg }}
                    {{ with (index $.Site.Data.svg . ) }}
                        {{ . | safeHTML }}
                    {{ end }}
                {{ else }}
                    <i class="fab fa-2x fa-{{ if .icon }}{{ .icon }}{{ else }}{{ .name | lower }}{{ end }}"></i>
                {{ end }}
            </a>
        </li>
    {{ end }}
</ul>
