<!-- Twitter syndication example:

     1. Requirement in site config

     [[Params.social]]
     name = "Twitter"
     link = "https://twitter.com/kaushalmodi/"

     2. Requirement in page front-matter

     [syndication]
     twitter = 975860854573936640
-->
{{ with .Params.syndication }}
    {{ range $key, $val := . }}
        {{ range $.Param "social" }}
            {{ if (eq $key (.name | lower)) }}
                {{ $.Scratch.Set "__syndication_class" "" }}
                {{ if (and (eq $key "twitter") (gt $val 0)) }}
                    {{ $.Scratch.Set "__syndication_link" (printf "%sstatus/%d" .link $val) }}
                    {{ $.Scratch.Set "__syndication_class" (.name | lower) }}
                {{ end }}
                {{ if ($.Scratch.Get "__syndication_class") }}
                    <a rel="syndication"
                       class="u-syndication {{ $.Scratch.Get "__syndication_class" }}"
                       href="{{ $.Scratch.Get "__syndication_link" }}"
                       title="This post was syndicated to {{ .name }}">
                        <i class="fab fa-{{ if .icon }}{{ .icon }}{{ else }}{{ lower .name }}{{ end }}"></i>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
