<script src="{{ partial "asset.html" (dict "Site" .Site "asset" "js/libs/jquery/3.3.1/jquery.slim.min.js") }}"></script>
<script>(function() {
     var $toc = $('#TableOfContents');
     if ($toc.length > 0) {
         var $window = $(window);
         function onScroll(){
             var currentScroll = $window.scrollTop();
             var h = $('.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .h-feed h2');
             var id = "";
             h.each(function (i, e) {
                 e = $(e);
                 if (e.offset().top - 10 <= currentScroll) {
                     id = e.attr('id');
                 }
             });
             var current = $toc.find('a.current');
             if (current.length == 1 && current.eq(0).attr('href') == '#' + id) return true;

             current.each(function (i, e) {
                 $(e).removeClass('current').siblings('ul').hide();
             });
             $toc.find('a[href="#' + id + '"]').parentsUntil('#TableOfContents').each(function (i, e) {
                 $(e).children('a').addClass('current').siblings('ul').show();
             });
         }
         $window.on('scroll', onScroll);
         $(document).ready(function() {
             $toc.find('a').parent('li').find('ul').hide();
             onScroll();
             document.getElementsByClassName('toc')[0].style.display = '';
         });}})();</script>

<!-- Minified Version:

     https://report-uri.com/home/hash/
     'sha256-2aZlOZAHRrMS2shj6RA/8w5XdPjkO9dtCOkcKpGMolI='

(function(){var $toc=$('#TableOfContents');if($toc.length>0){var $window=$(window);function onScroll(){var currentScroll=$window.scrollTop();var h=$('.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .h-feed h2');var id="";h.each(function(i,e){e=$(e);if(e.offset().top-10<=currentScroll){id=e.attr('id');}});var current=$toc.find('a.current');if(current.length==1&&current.eq(0).attr('href')=='#'+id)return true;current.each(function(i,e){$(e).removeClass('current').siblings('ul').hide();});$toc.find('a[href="#'+id+'"]').parentsUntil('#TableOfContents').each(function(i,e){$(e).children('a').addClass('current').siblings('ul').show();});}
$window.on('scroll',onScroll);$(document).ready(function(){$toc.find('a').parent('li').find('ul').hide();onScroll();document.getElementsByClassName('toc')[0].style.display='';});}})();

-->
