<!-- Remarkbox - Your readers want to communicate with you -->
<div id="remarkbox-div">
    <noscript>
        <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
    </noscript>
</div>
<script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
<script>
 var rb_owner_key = "{{ .owner_key }}";
 var thread_uri = window.location.href;
 var thread_fragment = window.location.hash;
 function create_remarkbox_iframe() {
     var src = "https://my.remarkbox.com/embed?rb_owner_key=" + rb_owner_key + "&thread_uri=" + thread_uri;
     var ifrm = document.createElement("iframe");
     ifrm.setAttribute("id", "remarkbox-iframe");
     ifrm.setAttribute("scrolling", "no");
     ifrm.setAttribute("src", src);
     ifrm.setAttribute("frameborder", "0");
     ifrm.setAttribute("tabindex", "0");
     ifrm.setAttribute("title", "Remarkbox");
     ifrm.style.width = "100%";
     document.getElementById("remarkbox-div").appendChild(ifrm);
 }
 create_remarkbox_iframe();
 iFrameResize(
     {
         checkOrigin: ["https://my.remarkbox.com"],
         inPageLinks: true,
         initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
     },
     document.getElementById("remarkbox-iframe")
 );
</script>
<p class="powered-by">
    <a href="https://www.remarkbox.com" rel="nofollow noopener" target="_blank" title="Powered by Remarkbox">comments powered by Remarkbox&nbsp;&nbsp;<img src="https://my.remarkbox.com/static/img/remarkbox-logo.png" width="24px"></a>
</p>
